{
	"TwitterAPI": "<Twitter API Key here>",
	"TwitterAPISecret": "<Twitter API Key secret here>",
	"TweetBearerString": "<Twitter API bearer string here>",
	"BotSecretString": "<Discord bot secret string here>",
	"ChannelIDString": "<Discord channel ID here for main channel>",
	"MediaChannelIDString": "<Discord channel ID here for tweets with media>",
	"TwitterAccess": "<Twitter Access Key here>",
	"TwitterAccessSecret": "<Twitter Access Secret Key here>"
}
